// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
$red: #8B2635;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
// $green: #32B796;
$green: #4D6A6D;
$gray: #000000;
$light-gray: #F4F4F4;
$my-gray-lgt: #87919E;
$my-gray-md: #5C5D67;
$my-gray-dk: #2A2B2A;


