.my-container {
    position: relative;
    background: #000000;
    overflow: hidden;
    top: 0;
    height: 100vh;
    margin-top: -50px;
    z-index: 0;
    align-item: center;
    justify-content: center;
}
.my-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=e09f080b8da02326cf52c33649fd52d8');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    top: 0;
}
.my-container h1 {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-top: 30vh;
    font-size: 150px;
    font-weight: lighter;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.my-container p {
    text-align: center;
    z-index: 2;
    position: relative;
    // color: #8B2635;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    font-size: 30px;
}

.my-container form {
  padding: 20px;
  text-align: center;
  z-index: 2;
  position: relative;
  border-radius: 4px;
}

.my-container .form-control {
  width: 300px;
  background-color: rgba(0, 0, 0, .5);
  border: none;
  color: rgba(200, 200, 200, 1);
}

.my-container .datepicker {
  width: 200px;
  background-color:black;
}
.datepicker.datepicker-dropdown.dropdown-menu {
  background-color:rgba(0,0,0, .8) !important;
  color: white;
}

.my-container .btn {
  z-index: 2;
  position: relative;
  border-radius: 4px;
  transition: background 0.3s ease;
  // background: #67001a;
  width: 60px;
  background-color: transparent;
  border: 1px solid #8B2635;
  height: auto;
  color: white;
  &:hover {
    opacity: 6;
    background: #8B2635;
    text-decoration: none;
  }
}

