
.event-photo {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.event-container {
  display: flex;
}

.details {
  flex: 0 0 66%;
  background: white;
  margin: 20px;
  padding: 20px;
}

.bar-details {
  flex: 0 0 33%;
  background: white;
  margin: 20px;
  padding:20px;
}

.return {
  background: white;
  margin: 20px;
  padding:20px;
}
