
.event-photo {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.event-container {
  display: flex;
}

.details {
  flex: 0 0 66%;
  background: white;
  margin: 20px;
  padding: 20px;
  position: relative;
  .title h1{
  font-weight: bolder;
  border-bottom: solid .5px #ededed;
  padding-bottom: 20px;
  }
    .category_box p{
    background-color: #8B2635 !important;
    color: white !important;
    font-size: 24px;
    position: absolute;
    top: 20px !important;
    right: 0px !important;
    padding: 10px 60px;
    margin-right: -17px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

.bar-details {
  flex: 0 0 33%;
  background: white;
  margin: 20px;
  padding:20px;
    .title h3{
    font-weight: bolder;
    // border-bottom: solid .5px #ededed;
    padding-bottom: 20px;
    }
    .title {
    border-bottom: solid .5px #ededed;
    }
}

.reviews_event {
  display: flex;
  background: white;
  padding:10px;
  border-bottom: solid .5px #ededed;
}

.return {
  background: white;
  margin: 20px;
  padding:20px;
}

.date_time {
  color: #8B2635;
  font-weight: bolder;
}

.fa-star {
  color: #ffd700;
  font-size: 24px;
}

.fa-eur {
  color:black;
  font-size: 24px;
}

.fa-map-marker{
  padding-right: 10px;
  font-size: 24px;
  color: #8B2635;
}

.fa-map-marker{
  padding-right: 10px;
  font-size: 24px;
  color: #8B2635;
}

.fa-globe {
  padding-right: 10px;
  font-size: 24px;
  color: #8B2635;
}

.fa-clock-o {
  padding-right: 10px;
  font-size: 24px;
  color: #8B2635;
}

.fa-calendar-o {
  padding-right: 10px;
  font-size: 24px;
  color: #8B2635;
}

.bar_hover:hover {
  text-decoration: none;
  border-bottom: 1px solid #8B2635;
  color: rgba(0, 0, 0, .9)
}

.ssb-icon {
  background-size: 32px 32px;
  display: inline-block;
  height: 50px;
  width: 50px;
}




