
 <div class="row">
<div class="index-layout-bar">
<div class="col-md-8">
<div class="bar_results">


    <%@bars.each do |bar| %>
    <div class="bar_card">
      <img src="https://images.pexels.com/photos/331991/pexels-photo-331991.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="photo" alt="">
      <div class="info">
      <h2><%= link_to bar.name, bar_path(bar) %></h2>
      <p class = "address"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= bar.location %></p>
      <% if bar.bar_rating.present? %>
        <ul class="list-inline">
          <%bar.bar_rating.times do %>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <%end %>
        </ul>
        <%else %>
        <p>No reviews</p>
      <%end %>
      </div>
    </div>
    <%end %>
  </div>
</div>
  <!-- <div class="row"> -->
 <div class="col-md-4">
  <div id="map" style="width: auto; height: 600px;"></div>


  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
  </div>

</div>
</div>
