<div class="navbar-wagon">
<div class="navbar-wagon-item">
  After5
</div>
<div class="navbar-wagon-right">
<ul class="list-inline">
  <li class="list-inline-item">
  Login
  </li>
  <li class="list-inline-item">
  Sign-up
  </li>
</ul>
</div>
</div>

