.event-photo {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.top {
  display: flex;
}

.bar-details {
  flex: 0 0 33%;
  background: white;
  margin: 20px;
  padding:20px;
    .title {
    border-bottom: solid .5px #ededed;
    margin-bottom: 20px !important;
    }

    img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

.right-side {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.bar-details-two {
  // flex: 0 0 66%;
  // flex-grow: 2;
  background: white;
  margin: 20px;
  padding:20px;
  flex-grow: 1;
    .title {
    border-bottom: solid .5px #ededed;
    margin-bottom: 20px !important;
    }
  }

.bar_pic {
  width: 400px;
}

.reviews {
  background: white;
  margin: 20px;
  padding:20px;
}

.return {
  background: white;
  margin: 20px;
  padding:20px;

  a:hover {
    text-decoration: none;
  }
}

.date_time {
  color: #8B2635;
  font-weight: bolder;
}

.icon {
      padding-right: 10px;
      font-size: 24px;
      color: #8B2635;
    }
.fa-star {
  color: #ffd700;
}

.fa-eur {
  color:black;
}

.review {
  border-bottom: solid .5px #ededed;
  margin-left: 10px;
  margin-right: 10px;
  ul {
    padding-top: 20px;
    margin-left: 10px;
  }
  .stars {
    width: 200px;
  }
}

.text-center {
  position: relative;
  text-align: center;
  top: 25%;
  font-weight: bold;
}




