.index-layout {
  display: flex;
  margin-top: 15px;
  .results {
    flex-grow: 1;
  }

  #map {
    flex: 0 0 700px;
    height: 100vh;
    position: sticky !important;
    top: 0 !important;
    margin-right: 10px;
    margin-left: 50px;
  }
}
.fa-chevron-circle-right {
  color: #8B2635;
}


.location {
  color: gray;
  font-size: 12px;
}

.bar_name {
  line-height: 10px;
  font-weight: bolder;
}

.category {
  color: #8B2635;
  font-weight:bolder;
}

.list-details {
  margin-top: -20px;
}

@media(max-width: 700px) {
  .index-layout {
    flex-direction: column-reverse;
  }
}
