.index-layout-bar {
  display: flex;
  margin-top: 15px;
  // margin-right: 20px;
  // margin-left: 20px;
  .bar_results {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  #map {
    height: 100vh;
    position: sticky !important;
    top: 0 !important;
  }
}
.fa-chevron-circle-right {
  color: #8B2635;
}


.location {
  color: gray;
  font-size: 12px;
}

.bar_name {
  line-height: 10px;
  font-weight: bolder;
}

.bar_card {
  // display: flex;
  background: white;
  width: 250px;
  margin: 15px;
  position: relative;

}

.photo {
  height: 250px;
  width: 250px;
}

.info {
  padding: 10px;
}

.address {
  font-size: 13px;
  color: gray;
}

@media(max-width: 700px) {
  .index-layout {
    flex-direction: column-reverse;
  }
}
