3 {
  text-align: center;
  font-weight: bolder;
  border-bottom: solid .5px #ededed;
  padding-bottom: 20px;
}
.form-control {
  width:100%
}
}


.input-group-addon {
  background: transparent;
  border: none;
}

.input-group.bootstrap-timepicker.timepicker {
  width: 200px;
}

.date_time {
  display:flex;
}

.btn2 {
background: #8B2635;
border-radius: 2px;
color: white;
padding: 10px;
margin-top: 30px;
bottom: 10px;
width: 150px;
text-align: center;
  &:hover {
    background: rgba(139, 38, 53, .6);
    color:white;
  }

}
