// *{
//   border: solid 1px red;
// }

.list-card{
  margin-left: 50px;
  display: flex;
  height: 220px;
  position: relative;
  margin-bottom: 30px;
  border-bottom: solid 1px #d3d3d3;
  background-color: white;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  .date{
    width: 125px;
    height: 175px;
    display:inline-block;
    margin-right: 18px;
    background-color: #36454f;
    color: white;
      h1 {
        font-size: 84px;
        text-align: center;
      }
      h4 {
        font-size: 28px;
        text-align: center;
        line-height: 4px
      }
  }
  button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:white;
    border: none;
    text-size: 40px;
  }
}

.list-label{
  background-color:#1fc055;
  display:inline-block;
  position:absolute;
  margin-left: -5px;
  font-size:12px;
  padding: 4px;
  color:#fff;
}

.list-name{
  font-size:20px;
  display:inline-block;
}
.list-landmark,.list-location{
  font-size:12px;
  opacity:0.5;
  margin: 2px 0;
}

.list-rooms{
  font-size:12px;
}

.list-bottom{
  display:inline-block;
  overflow:auto;
  .list-bottom-section{
    width: 120px;
    box-sizing:border-box;
    float:left;
    font-size:14px;
    padding: 0 20px;
    border-left:1px solid #e5e5e5;
    span:last-of-type{
      opacity:0.5;
    }
    &:first-of-type{
      padding-left: 0;
      border-left:0;
    }
    span{
      display:block;
    }
  }
}

.list-shortlist{
  margin-right: 15px;
}
