
.index-layout {
  display: flex;
  margin-top: 15px;
  .results {
    flex-grow: 1;
  }

  #map {
    flex: 0 0 500px;
    height: 100vh;
    position: sticky !important;
    top: 0 !important;
    margin-right: 10px;
    margin-left: 30px;
  }
}
.fa-chevron-circle-right {
  color: #8B2635;
}


.location {
  color: gray;
  font-size: 12px;
}

.bar_name {
  line-height: 10px;
  font-weight: bolder;
}

.category {
  color: #8B2635;
  font-weight:bolder;
}

.list-details {
  margin-top: -20px;
}

.search_filter {
  background: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

@media(max-width: 700px) {
  .index-layout {
    flex-direction: column-reverse;
  }
}

.btn3 {
  background: #8B2635;
  border-style:none;
  color: white;
  padding: 10px;
  right: 50px;
  bottom: 10px;
  width: 150px;
  text-align: center;
  align: center;
  margin-left: 20px;
}

// .filter {
//   display: flex;
//   background: black;
//   li {
//   height: 100px;
//   width: 100px;
//   background: #8B2635;
//   color: white;
//   }
// }



