/* Main navbar */

.navbar{
  display: flex;
  flex-direction: column;
}

.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: white;
  transition: all 0.3s ease;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: white;
  z-index: 2;
}

.navbar-wagon-home {
  background-color:none;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: white;
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

.navbar-wagon-brand img:hover {
  color: white;
  text-decoration: none;
  border: 1px solid #8B2635;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* User Avatar */
.navbar-wagon-home .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  color: black;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
}

.navbar-wagon-item-home {
  cursor: pointer;
  margin-top: 30px;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}
/* Navbar link */
.navbar-wagon-link {
  color: black;
  font-size: 16px;
}

.navbar-wagon-link-home {
  color: white;
  font-size: 16px;
}

.navbar-wagon-link:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #8B2635;
}

.navbar-wagon-link-home:hover {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #8B2635;
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-search {
  // background-color: #8B2635;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.form-control {
 width: 100%;
 margin-right: 10px;
 height: 30px;
 font-size: 16px;
 background-color: rgba(255, 255, 255, 0);
 border: none;
 box-shadow: none;
 border-radius: 0px;
}


.btn {
  color: gray;
  background-color: white;
  font-size: 16px;
  height: 30px;
  border: none;
}

a {
  color: black;
}
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #8B2635;
    color: black;
    padding: 10px 20px 10px 20px;

  }

  .datepicker {
    border-radius: 0px !important;

  }
